html, body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    -webkit-text-size-adjust: none
}

body {
    display: flex;
    flex-direction: column;
    --accent-color: #81c784;
    --accent-light-color: #b2fab4;
    --accent-dark-color: #519657;
    --accent-text-color: #000;
    --accent-dark-text-color: #FFF;
    --bold-color: #333;
    --standard-padding: 10px;
    --alt-font: 'Kumar One Outline', cursive;
    background-image: url('../files/funky-lines.png');
    background-repeat: repeat;
}

body>header {
    background-color: var(--bold-color);
    color: var(--accent-dark-text-color);
    display: flex;
    flex-direction: row;
    flex: 120px 0 0;
    font-size: 32px;
    align-items: center;
    padding: var(--standard-padding);
    box-sizing: border-box;
    position: relative;
    padding-top: calc(3 * var(--standard-padding));
}

body>header::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(3 * var(--standard-padding));
    background-color: rgba(0, 0, 0, .3);
    content: ' ';
}

body>main {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    max-width: 80%;
    align-self: center;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.card {
    border-radius: 3px;
    box-shadow: #ccc 1px 1px 3px;
    padding: var(--standard-padding);
    margin: var(--standard-padding);
    box-sizing: border-box;
    flex: 400px 1 1;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #FFF;
}

.card>h2{
    background-color: var(--accent-dark-color);
    color: var(--accent-dark-text-color);
    box-sizing: border-box;
    margin-top: calc(-1 * var(--standard-padding));
    margin-left: calc(-1 * var(--standard-padding));
    margin-right: calc(-1 * var(--standard-padding));
    padding: var(--standard-padding);
    margin-bottom: 0;
}

.card>p{
    display: block;
    flex: 0px 1 1;
}

.card>img{

}

.card>figure{
    height: 300px;
    background-position: center;
    display: block;
    margin-left: calc(-1 * var(--standard-padding));
    margin-right: calc(-1 * var(--standard-padding));
    margin-top: 0;
    margin-bottom: 0;
}

#resume.card{
    flex: 800px 1 1;
}

section.actions {
    border-top: 1px solid #EEE;
    display: flex;
    flex-direction: row;
    margin-top: var(--standard-padding);
    margin-left: calc(-1 * var(--standard-padding));
    margin-right: calc(-1 * var(--standard-padding));
    padding: var(--standard-padding);
    flex: 32px 0 0;
}

.button {
    padding: var(--standard-padding);
    border-radius: 3px;
    text-decoration: none;
    color: var(--accent-dark-color);
    cursor: pointer;
    transition: 1s;
}

.button:hover {
    transform: scale(1.1);
}

.break {
    font-size: 32px;
    font-weight: 100;
    text-align: center;
    padding: 40px;
    border-bottom: 1px solid #EEE;
    font-family: var(--alt-font);
}