
.warning-note {
    letter-spacing: .2em;
    border-left: 2px solid #ccc;
    padding: 20px;
    align-self: center;
}


.warning-note > h1{
    font-family: var(--alt-font);
}

@media only screen and (min-width: 600px) {
    .warning-note {
        transition: 2s;
        transform: rotate(-20deg);
        margin-top: 50px;
        margin-bottom: 175px;
        padding: 60px;
        max-width: 950px;
        text-shadow: #ccc 1px 1px 2px;
    }

    .warning-note:hover {
        transform: rotate(-23deg) scale(1.1);
    }
}
